body {
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    color: #6a6a6a;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
}

.left {
    flex: 1;
    background: linear-gradient(to bottom,#008b8b, #66cdaa);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 20px;
    box-sizing: border-box;
    min-width: 150px;
}

.left .logo {
    background: url("/images/if.png") no-repeat center;
    height: 150px;
    width: 100%;
    background-size: contain;
    margin-bottom: 20px;
}

.left p {
    text-align: center;
    font-weight: bold;
}

.right {
    flex: 1.5;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    min-width: 200px;
}

.right form {
display: flex;
flex-direction: column;
}

.right form .field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.right form label {
    margin-bottom: 5px;
    display: none;
}

.right form input[type=text],
.right form input[type=password],
.right form input[type=email] {
    color: #262626;
    border: none;
    background-color: #f0f0f0;
    box-sizing: border-box;
    padding: 10px 40px 10px 40px;
    appearance: none;
    border-radius: 4px;
    width: 100%;
}

.right form input::placeholder {
    color: #888;
}

.right form input:focus {
    border-color: #646464;
    box-shadow: 0 0 1px 0 #a2a2a2;
    outline: 0;
}

.right form .field svg {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    fill: #888;
}

.right form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to right, #66cdaa, #008b8b);
    transition: background 0.3s ease;
}

.right form button.primary:hover {
    background: linear-gradient(to right, #008b8b, #66cdaa);
}

.right .recovery-message {
    font-size: 1em;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .left, .right {
        width: 100%;
        min-width: unset;
        padding: 20px;
    }

    .right {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .left {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.notyf__toast {
    max-width: 500px !important;
}

/* CSS para exbir tela de espera */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ddd;
    border-top: 4px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}