@{
    ViewData["Title"] = "Resetar senha - Confirmação";
    Layout = "_LayoutPassword";
}


<div class="recovery-message">Senha alterada com sucesso.</div>

<script>
    setTimeout(function () {
        window.location.href = "http://www.msftconnecttest.com/redirect";
    }, 3000);
</script>