@{
    ViewData["Title"] = "Resetar senha - Confirmação";
    Layout = "_LayoutPassword";
}


<div class="recovery-message">Senha alterada com sucesso.</div>

<script>
    setTimeout(function () {
        var fortigateToken = "@ViewData["FortigateToken"]";
        window.location.href = "https://authif.floresta.ifsertao-pe.edu.br:1003/fgtauth?" + encodeURIComponent(fortigateToken);
    }, 3000);
</script>