@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Resetar senha";
    Layout = "_LayoutPassword";
}

<h2>Redefinir Senha</h2>

<form asp-action="ResetPassword" method="post">
    <div asp-validation-summary="All"></div>

    <div class="field">
        <span>
            <strong>@Html.DisplayNameFor(model => model.Name): </strong> @Model.Name
        </span>
    </div>

    <div class="field">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 17a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm6-7h-1V7a5 5 0 10-10 0v3H6c-1.1 0-2 .9-2 2v9c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-9c0-1.1-.9-2-2-2zm-6-5a3 3 0 013 3v3H9V7a3 3 0 013-3z" />
        </svg>
        <input asp-for="NewPassword" placeholder="Nova senha" />
    </div>
    <div>
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="field">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M12 17a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm6-7h-1V7a5 5 0 10-10 0v3H6c-1.1 0-2 .9-2 2v9c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-9c0-1.1-.9-2-2-2zm-6-5a3 3 0 013 3v3H9V7a3 3 0 013-3z" />
        </svg>
        <input asp-for="ConfirmPassword" placeholder="Confirmar nova senha" />
    </div>
    <div>
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <button type="submit" class="primary">Redefinir Senha</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
