@{
    ViewData["Title"] = "Home";
}

<header class="header header-sticky p-0 mb-4">
    <div class="container-fluid px-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0">
                <li class="breadcrumb-item">
                    <a href="#" data-coreui-i18n="home">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    <span data-coreui-i18n="dashboard">Dashboard</span>
                </li>
            </ol>
        </nav>
    </div>
</header>

<div class="text-center">
    <div class="container-lg px-4">
        <div class="card mb-4">
            <div class="card-header"><strong>LdapTools</strong></div>
            <div class="card-body">
                <p class="text-body-secondary small">Seja bem-vindo ao LdapTools!</p>
            </div>
        </div>
    </div>
</div>
